# Gather

In [52]:
#Import packages
import pandas as pd
import numpy as np
import zipfile
import csv

In [53]:
# name of the zip file
zip_name = "honey-with-neonic-pesticide.zip"

In [54]:
# Extract zip file
with zipfile.ZipFile(zip_name, 'r') as zip:
    zip.extractall()

In [55]:
#Name of the extracted files
csv_1_name = "vHoneyNeonic_v02.csv"
csv_2_name = "vHoneyNeonic_v03.csv"

In [56]:
# Read CSV Files
df_first = pd.read_csv(csv_1_name)
df_second = pd.read_csv(csv_2_name)

# ASSESS

## Information about the columns

In [57]:
df_first.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 16 columns):
state            825 non-null object
numcol           825 non-null float64
yieldpercol      825 non-null int64
totalprod        825 non-null float64
stocks           825 non-null float64
priceperlb       825 non-null float64
prodvalue        825 non-null float64
year             825 non-null int64
StateName        825 non-null object
Region           825 non-null object
nCLOTHIANIDIN    761 non-null float64
nIMIDACLOPRID    761 non-null float64
nTHIAMETHOXAM    761 non-null float64
nACETAMIPRID     761 non-null float64
nTHIACLOPRID     761 non-null float64
nAllNeonic       761 non-null float64
dtypes: float64(11), int64(2), object(3)
memory usage: 103.2+ KB

In [58]:
df_second.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1132 entries, 0 to 1131
Data columns (total 17 columns):
state            1132 non-null object
numcol           1132 non-null float64
yieldpercol      1132 non-null int64
totalprod        1132 non-null float64
stocks           1132 non-null float64
priceperlb       1132 non-null float64
prodvalue        1132 non-null float64
year             1132 non-null int64
StateName        1132 non-null object
Region           1132 non-null object
FIPS             1132 non-null int64
nCLOTHIANIDIN    895 non-null float64
nIMIDACLOPRID    895 non-null float64
nTHIAMETHOXAM    895 non-null float64
nACETAMIPRID     895 non-null float64
nTHIACLOPRID     895 non-null float64
nAllNeonic       895 non-null float64
dtypes: float64(11), int64(3), object(3)
memory usage: 150.4+ KB

## Information about the variables

In [59]:
df_first.describe()

,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIAMETHOXAM,nACETAMIPRID,nTHIACLOPRID,nAllNeonic
count,825.00000,825.000000,8.250000e+02,8.250000e+02,825.000000,8.250000e+02,825.000000,761.000000,761.000000,761.000000,761.000000,761.000000,761.000000
mean,61889.69697,60.219394,4.117353e+06,1.233493e+06,1.757879,5.608421e+06,2007.311515,10890.929304,10019.377661,6225.054008,729.025887,120.468988,27984.855848
std,92857.22783,19.491761,6.844822e+06,2.178304e+06,0.995077,9.553636e+06,5.786339,29821.711174,17234.345485,10237.763659,2574.475379,464.478136,50127.112520
min,2000.00000,19.000000,8.400000e+04,8.000000e+03,0.490000,1.620000e+05,1998.000000,0.000000,3.200000,0.000000,0.000000,0.000000,3.200000
25%,9000.00000,46.000000,4.700000e+05,1.170000e+05,1.100000,9.240000e+05,2002.000000,0.000000,937.500000,29.700000,0.000000,0.000000,1631.800000
50%,26000.00000,57.000000,1.500000e+06,3.830000e+05,1.520000,2.132000e+06,2007.000000,336.700000,3698.900000,1156.300000,16.000000,0.000000,8402.100000
75%,65000.00000,72.000000,4.032000e+06,1.361000e+06,2.090000,5.599000e+06,2012.000000,6569.300000,10588.600000,7777.000000,349.100000,0.000000,33508.200000
max,510000.00000,136.000000,4.641000e+07,1.380000e+07,7.860000,8.385900e+07,2017.000000,278498.800000,150569.300000,64834.600000,36480.300000,4273.200000,403011.600000

In [60]:
df_second.describe()

,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year,FIPS,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIAMETHOXAM,nACETAMIPRID,nTHIACLOPRID,nAllNeonic
count,1132.000000,1132.000000,1.132000e+03,1.132000e+03,1132.000000,1.132000e+03,1132.000000,1132.000000,895.000000,895.000000,895.000000,895.000000,895.000000,895.000000
mean,62452.296820,61.809187,4.317093e+06,1.202020e+06,1.485928,4.932350e+06,2003.698763,30.275618,9260.332067,8944.121564,5293.034749,619.875642,102.432291,24219.796313
std,90698.022209,20.701807,6.962385e+06,2.026242e+06,0.966583,8.551674e+06,7.783332,15.586671,27769.597206,16378.524006,9697.447417,2387.930400,430.409906,47179.176730
min,2000.000000,19.000000,8.400000e+04,8.000000e+03,0.460000,8.900000e+04,1991.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10000.000000,47.000000,5.192500e+05,1.280000e+05,0.750000,8.137500e+05,1997.000000,18.000000,0.000000,617.250000,0.000000,0.000000,0.000000,923.450000
50%,27000.000000,60.000000,1.607500e+06,4.110000e+05,1.260000,1.936000e+06,2003.000000,30.000000,33.400000,3186.600000,463.200000,0.000000,0.000000,5151.400000
75%,69250.000000,74.000000,4.325000e+06,1.377000e+06,1.920000,4.842500e+06,2010.000000,42.750000,4345.150000,9373.400000,5724.000000,202.600000,0.000000,26130.900000
max,520000.000000,177.000000,4.641000e+07,1.380000e+07,7.860000,8.385900e+07,2017.000000,56.000000,278498.800000,150569.300000,64834.600000,36480.300000,4273.200000,403011.600000

In [61]:
df_second.head()

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year,StateName,Region,FIPS,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIAMETHOXAM,nACETAMIPRID,nTHIACLOPRID,nAllNeonic
0,AL,14000.0,66,924000.0,92000.0,0.81,748000.0,1997,Alabama,South,1,0.0,6704.8,0.0,0.0,0.0,6704.8
1,AL,15000.0,64,960000.0,96000.0,0.87,835000.0,1996,Alabama,South,1,0.0,371.6,0.0,0.0,0.0,371.6
2,AL,16000.0,58,928000.0,28000.0,0.69,640000.0,1995,Alabama,South,1,0.0,716.5,0.0,0.0,0.0,716.5
3,AL,18000.0,50,900000.0,99000.0,0.52,468000.0,1994,Alabama,South,1,NaN,NaN,NaN,NaN,NaN,NaN
4,AL,19000.0,45,855000.0,103000.0,0.59,504000.0,1993,Alabama,South,1,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
df_first.head()

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year,StateName,Region,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIAMETHOXAM,nACETAMIPRID,nTHIACLOPRID,nAllNeonic
0,AL,11000.0,56,616000.0,209000.0,1.49,918000.0,2007,Alabama,South,7696.2,3258.1,4149.6,0.0,0.0,15103.9
1,AL,11000.0,72,792000.0,230000.0,1.21,958000.0,2006,Alabama,South,680.0,4230.2,5371.6,0.0,0.0,10281.8
2,AL,12000.0,86,1032000.0,103000.0,1.18,1218000.0,2002,Alabama,South,0.0,1178.8,840.4,0.0,0.0,2019.2
3,AL,12000.0,87,1044000.0,282000.0,1.41,1472000.0,2004,Alabama,South,2676.4,1323.9,3863.9,0.0,0.0,7864.2
4,AL,13000.0,66,858000.0,266000.0,1.02,875000.0,2005,Alabama,South,1503.6,994.5,5493.9,0.0,0.0,7992.0

### Test if all the decimal variable numbers are integers

In [63]:
df_second.numcol.apply(float.is_integer).all()

True

In [64]:
df_second.totalprod.apply(float.is_integer).all()

True

In [65]:
df_second.stocks.apply(float.is_integer).all()

True

In [66]:
df_second.prodvalue.apply(float.is_integer).all()

True

### Examine some suspicious columns

In [67]:
df_second.state.value_counts()

CA    27
NE    27
MO    27
AR    27
ME    27
MT    27
TN    27
ND    27
CO    27
IN    27
AL    27
PA    27
MI    27
KS    27
NC    27
WI    27
MN    27
IL    27
KY    27
WV    27
ID    27
VA    27
OH    27
GA    27
WY    27
IA    27
NJ    27
LA    27
FL    27
UT    27
SD    27
OR    27
MS    27
TX    27
NY    27
WA    27
VT    27
AZ    27
HI    27
NM    22
NV    18
MD    13
OK    13
SC    13
Name: state, dtype: int64

In [68]:
# Check if there is a sum value that is not accurate
# I am adding +-0.1 because I am comparing two float numbers if they are equal
df_second[((((df_second['nCLOTHIANIDIN'] + 
           df_second['nIMIDACLOPRID'] + 
           df_second['nTHIAMETHOXAM'] + 
           df_second['nACETAMIPRID'] +
           df_second['nTHIACLOPRID'])+0.1) >= (df_second['nAllNeonic']))
         &
         (((df_second['nCLOTHIANIDIN'] + 
           df_second['nIMIDACLOPRID'] + 
           df_second['nTHIAMETHOXAM'] + 
           df_second['nACETAMIPRID'] +
           df_second['nTHIACLOPRID'])-0.1) <= (df_second['nAllNeonic'])))
         |
         (df_second['nAllNeonic'].isnull())]

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year,StateName,Region,FIPS,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIAMETHOXAM,nACETAMIPRID,nTHIACLOPRID,nAllNeonic
0,AL,14000.0,66,924000.0,92000.0,0.81,748000.0,1997,Alabama,South,1,0.0,6704.8,0.0,0.0,0.0,6704.8
1,AL,15000.0,64,960000.0,96000.0,0.87,835000.0,1996,Alabama,South,1,0.0,371.6,0.0,0.0,0.0,371.6
2,AL,16000.0,58,928000.0,28000.0,0.69,640000.0,1995,Alabama,South,1,0.0,716.5,0.0,0.0,0.0,716.5
3,AL,18000.0,50,900000.0,99000.0,0.52,468000.0,1994,Alabama,South,1,NaN,NaN,NaN,NaN,NaN,NaN
4,AL,19000.0,45,855000.0,103000.0,0.59,504000.0,1993,Alabama,South,1,NaN,NaN,NaN,NaN,NaN,NaN
5,AL,23000.0,24,552000.0,66000.0,0.63,348000.0,1991,Alabama,South,1,NaN,NaN,NaN,NaN,NaN,NaN
6,AL,25000.0,41,1025000.0,113000.0,0.59,605000.0,1992,Alabama,South,1,NaN,NaN,NaN,NaN,NaN,NaN
7,AL,11000.0,56,616000.0,209000.0,1.49,918000.0,2007,Alabama,South,1,7696.2,3258.1,4149.6,0.0,0.0,15103.9
8,AL,11000.0,72,792000.0,230000.0,1.21,958000.0,2006,Alabama,South,1,680.0,4230.2,5371.6,0.0,0.0,10281.8
9,AL,12000.0,86,1032000.0,103000.0,1.18,1218000.0,2002,Alabama,South,1,0.0,1178.8,840.4,0.0,0.0,2019.2
10,AL,12000.0,87,1044000.0,282000.0,1.41,1472000.0,2004,Alabama,South,1,2676.4,1323.9,3863.9,0.0,0.0,7864.2
11,AL,13000.0,66,858000.0,266000.0,1.02,875000.0,2005,Alabama,South,1,1503.6,994.5,5493.9,0.0,0.0,7992.0
12,AL,13000.0,82,1066000.0,43000.0,1.24,1322000.0,2003,Alabama,South,1,0.0,668.3,591.7,0.0,0.0,1260.0
13,AL,14000.0,73,1022000.0,235000.0,0.72,736000.0,2001,Alabama,South,1,0.0,1490.8,0.0,0.0,0.0,1490.8
14,AL,16000.0,71,1136000.0,159000.0,0.72,818000.0,1998,Alabama,South,1,0.0,1836.3,0.0,0.0,0.0,1836.3
15,AL,16000.0,78,1248000.0,187000.0,0.59,736000.0,2000,Alabama,South,1,0.0,1499.2,0.0,0.0,0.0,1499.2
16,AL,17000.0,68,1156000.0,185000.0,0.56,647000.0,1999,Alabama,South,1,0.0,1251.2,0.0,0.0,0.0,1251.2
17,AL,7000.0,45,315000.0,22000.0,2.77,873000.0,2017,Alabama,South,1,NaN,NaN,NaN,NaN,NaN,NaN
18,AL,7000.0,47,329000.0,13000.0,3.83,1260000.0,2015,Alabama,South,1,56.2,10919.3,1101.6,0.0,0.0,12077.1
19,AL,7000.0,52,364000.0,33000.0,3.45,1256000.0,2016,Alabama,South,1,NaN,NaN,NaN,NaN,NaN,NaN
20,AL,7000.0,52,364000.0,55000.0,2.85,1037000.0,2013,Alabama,South,1,5992.9,8284.4,5202.0,0.0,0.0,19479.3
21,AL,7000.0,53,371000.0,26000.0,3.53,1310000.0,2014,Alabama,South,1,7971.6,12194.1,4745.4,0.0,0.0,24911.1
22,AL,8000.0,54,432000.0,65000.0,2.47,1067000.0,2012,Alabama,South,1,4797.8,6249.1,7002.6,0.0,0.0,18049.5
23,AL,9000.0,50,450000.0,63000.0,2.51,1130000.0,2011,Alabama,South,1,10106.1,5229.8,7148.1,0.0,0.0,22484.0
24,AL,9000.0,50,450000.0,68000.0,1.86,837000.0,2009,Alabama,South,1,5087.2,3991.9,4076.2,0.0,0.0,13155.3
25,AL,9000.0,54,486000.0,73000.0,2.40,1166000.0,2010,Alabama,South,1,1914.0,1757.0,4658.3,0.0,0.0,8329.3
26,AL,9000.0,66,594000.0,214000.0,1.90,1129000.0,2008,Alabama,South,1,1598.3,3296.6,4214.5,0.0,0.0,9109.4
27,AR,40000.0,84,3360000.0,336000.0,0.85,2856000.0,1996,Arkansas,South,5,0.0,493.6,0.0,0.0,0.0,493.6
28,AR,45000.0,65,2925000.0,410000.0,0.52,1521000.0,1992,Arkansas,South,5,NaN,NaN,NaN,NaN,NaN,NaN
29,AR,47000.0,79,3713000.0,557000.0,0.54,2005000.0,1991,Arkansas,South,5,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1102,WV,8000.0,51,408000.0,102000.0,1.29,526000.0,2005,West Virginia,South,54,54.5,130.1,19.4,251.5,153.8,609.3
1103,WV,9000.0,51,459000.0,151000.0,1.32,606000.0,2002,West Virginia,South,54,0.0,81.9,0.4,0.0,0.0,82.3
1104,WV,9000.0,55,495000.0,183000.0,1.41,698000.0,2004,West Virginia,South,54,144.9,208.8,28.1,30.7,0.0,412.5
1105,WY,34000.0,55,1870000.0,393000.0,0.53,991000.0,1993,Wyoming,West,56,NaN,NaN,NaN,NaN,NaN,NaN
1106,WY,38000.0,36,1368000.0,150000.0,0.73,999000.0,1995,Wyoming,West,56,0.0,0.0,0.0,0.0,0.0,0.0
1107,WY,38000.0,62,2356000.0,660000.0,0.75,1767000.0,1997,Wyoming,West,56,0.0,52.3,0.0,0.0,0.0,52.3
1108,WY,40000.0,73,2920000.0,526000.0,0.90,2628000.0,1996,Wyoming,West,56,0.0,0.0,0.0,0.0,0.0,0.0
1109,WY,41000.0,52,2132000.0,192000.0,0.55,1173000.0,1991,Wyoming,West,56,NaN,NaN,NaN,NaN,NaN,NaN
1110,WY,41000.0,70,2870000.0,287000.0,0.54,1550000.0,1992,Wyoming,West,56,NaN,NaN,NaN,NaN,NaN,NaN
1111,WY,46000.0,69,3174000.0,667000.0,0.58,1841000.0,1994,Wyoming,West,56,NaN,NaN,NaN,NaN,NaN,NaN
1112,WY,34000.0,36,1224000.0,282000.0,1.59,1946000.0,2010,Wyoming,West,56,756.3,128.1,663.7,0.0,0.0,1548.1
1113,WY,35000.0,54,1890000.0,265000.0,1.72,3251000.0,2011,Wyoming,West,56,802.7,118.2,271.6,0.0,0.0,1192.5
1114,WY,37000.0,48,1776000.0,391000.0,1.43,2540000.0,2009,Wyoming,West,56,901.3,137.1,469.7,0.0,0.0,1508.1
1115,WY,37000.0,72,2664000.0,746000.0,0.61,1625000.0,1999,Wyoming,West,56,0.0,23.2,0.0,0.0,0.0,23.2
1116,WY,38000.0,61,2318000.0,255000.0,2.08,4821000.0,2014,Wyoming,West,56,1262.0,258.2,566.1,0.0,0.0,2086.3
1117,WY,38000.0,63,2394000.0,383000.0,1.33,3184000.0,2002,Wyoming,West,56,0.0,45.4,22.0,0.0,0.0,67.4
1118,WY,38000.0,77,2926000.0,146000.0,1.90,5559000.0,2015,Wyoming,West,56,0.0,114.4,19.0,0.0,0.0,133.4
1119,WY,38000.0,77,2926000.0,468000.0,0.65,1902000.0,2001,Wyoming,West,56,0.0,188.8,4.3,0.0,0.0,193.1
1120,WY,39000.0,53,2067000.0,186000.0,1.59,3287000.0,2017,Wyoming,West,56,NaN,NaN,NaN,NaN,NaN,NaN
1121,WY,39000.0,61,2379000.0,381000.0,1.37,3259000.0,2008,Wyoming,West,56,391.7,43.1,859.2,0.0,0.0,1294.0
1122,WY,39000.0,75,2925000.0,380000.0,1.10,3218000.0,2004,Wyoming,West,56,217.8,132.1,75.2,0.0,0.0,425.1
1123,WY,39000.0,81,3159000.0,474000.0,1.41,4454000.0,2003,Wyoming,West,56,0.0,19.0,35.1,0.0,0.0,54.1
1124,WY,39000.0,85,3315000.0,497000.0,0.98,3249000.0,2006,Wyoming,West,56,218.1,31.9,83.7,0.0,0.0,333.7
1125,WY,39000.0,93,3627000.0,798000.0,0.59,2140000.0,2000,Wyoming,West,56,0.0,44.5,0.0,0.0,0.0,44.5
1126,WY,40000.0,56,2240000.0,291000.0,0.89,1994000.0,2005,Wyoming,West,56,182.7,98.5,105.7,0.0,0.0,386.9
1127,WY,40000.0,68,2720000.0,190000.0,1.78,4842000.0,2016,Wyoming,West,56,0.0,27.5,9.4,0.0,0.0,36.9
1128,WY,43000.0,80,3440000.0,894000.0,1.00,3440000.0,2007,Wyoming,West,56,122.2,198.3,76.3,0.0,0.0,396.8
1129,WY,46000.0,60,2760000.0,524000.0,0.68,1877000.0,1998,Wyoming,West,56,0.0,91.2,0.0,0.0,0.0,91.2
1130,WY,47000.0,66,3102000.0,558000.0,2.11,6545000.0,2013,Wyoming,West,56,840.9,155.9,526.2,0.0,0.0,1523.0
1131,WY,50000.0,51,2550000.0,459000.0,1.87,4769000.0,2012,Wyoming,West,56,1174.9,277.0,423.3,0.0,0.0,1875.2

### Tidiness

- There should be only one table, not two
- No ID column <- this is not a problem, but later maybe we will use this

### Quality

#### Not camel case column names
All column names

#### Erronous data types
numcol, totalprod, stocks, prodvalue

#### non descriptive column headers
numcol, yieldpercol, totalprod, prodvalue, nCLOTHIANIDIN, ... , nAllNeonic

#### Inconsistency in units
- pound measurements: yieldpercol, totalprod, stocks, priceperlb
- kg measuremetns: nCLOTHIANIDIN, nIMIDACLOPRID, nTHIAMETHOXAM, nACETAMIPRID, nTHIACLOPRID

# Clean

In [69]:
#Copy the tables
df_first_clean = df_first.copy()
df_second_clean = df_second.copy()

### Define
Merge the two tables into one with the append function

### Code

In [70]:
#merge the tables
df_clean = df_first_clean.append(df_second_clean, ignore_index = True)

### Test

In [71]:
df_clean

,FIPS,Region,StateName,nACETAMIPRID,nAllNeonic,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIACLOPRID,nTHIAMETHOXAM,numcol,priceperlb,prodvalue,state,stocks,totalprod,year,yieldpercol
0,NaN,South,Alabama,0.0,15103.9,7696.2,3258.1,0.0,4149.6,11000.0,1.49,918000.0,AL,209000.0,616000.0,2007,56
1,NaN,South,Alabama,0.0,10281.8,680.0,4230.2,0.0,5371.6,11000.0,1.21,958000.0,AL,230000.0,792000.0,2006,72
2,NaN,South,Alabama,0.0,2019.2,0.0,1178.8,0.0,840.4,12000.0,1.18,1218000.0,AL,103000.0,1032000.0,2002,86
3,NaN,South,Alabama,0.0,7864.2,2676.4,1323.9,0.0,3863.9,12000.0,1.41,1472000.0,AL,282000.0,1044000.0,2004,87
4,NaN,South,Alabama,0.0,7992.0,1503.6,994.5,0.0,5493.9,13000.0,1.02,875000.0,AL,266000.0,858000.0,2005,66
5,NaN,South,Alabama,0.0,1260.0,0.0,668.3,0.0,591.7,13000.0,1.24,1322000.0,AL,43000.0,1066000.0,2003,82
6,NaN,South,Alabama,0.0,1490.8,0.0,1490.8,0.0,0.0,14000.0,0.72,736000.0,AL,235000.0,1022000.0,2001,73
7,NaN,South,Alabama,0.0,1836.3,0.0,1836.3,0.0,0.0,16000.0,0.72,818000.0,AL,159000.0,1136000.0,1998,71
8,NaN,South,Alabama,0.0,1499.2,0.0,1499.2,0.0,0.0,16000.0,0.59,736000.0,AL,187000.0,1248000.0,2000,78
9,NaN,South,Alabama,0.0,1251.2,0.0,1251.2,0.0,0.0,17000.0,0.56,647000.0,AL,185000.0,1156000.0,1999,68
10,NaN,South,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,7000.0,2.77,873000.0,AL,22000.0,315000.0,2017,45
11,NaN,South,Alabama,0.0,12077.1,56.2,10919.3,0.0,1101.6,7000.0,3.83,1260000.0,AL,13000.0,329000.0,2015,47
12,NaN,South,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,7000.0,3.45,1256000.0,AL,33000.0,364000.0,2016,52
13,NaN,South,Alabama,0.0,19479.3,5992.9,8284.4,0.0,5202.0,7000.0,2.85,1037000.0,AL,55000.0,364000.0,2013,52
14,NaN,South,Alabama,0.0,24911.1,7971.6,12194.1,0.0,4745.4,7000.0,3.53,1310000.0,AL,26000.0,371000.0,2014,53
15,NaN,South,Alabama,0.0,18049.5,4797.8,6249.1,0.0,7002.6,8000.0,2.47,1067000.0,AL,65000.0,432000.0,2012,54
16,NaN,South,Alabama,0.0,22484.0,10106.1,5229.8,0.0,7148.1,9000.0,2.51,1130000.0,AL,63000.0,450000.0,2011,50
17,NaN,South,Alabama,0.0,13155.3,5087.2,3991.9,0.0,4076.2,9000.0,1.86,837000.0,AL,68000.0,450000.0,2009,50
18,NaN,South,Alabama,0.0,8329.3,1914.0,1757.0,0.0,4658.3,9000.0,2.40,1166000.0,AL,73000.0,486000.0,2010,54
19,NaN,South,Alabama,0.0,9109.4,1598.3,3296.6,0.0,4214.5,9000.0,1.90,1129000.0,AL,214000.0,594000.0,2008,66
20,NaN,South,Arkansas,692.1,56766.9,15202.6,17066.9,0.0,23805.3,21000.0,2.04,2785000.0,AR,137000.0,1365000.0,2014,65
21,NaN,South,Arkansas,0.0,58521.1,17338.3,17309.0,0.0,23873.8,22000.0,2.02,2666000.0,AR,66000.0,1320000.0,2013,60
22,NaN,South,Arkansas,2874.3,57431.8,5894.4,15162.1,0.0,33501.0,22000.0,1.62,2281000.0,AR,239000.0,1408000.0,2011,64
23,NaN,South,Arkansas,349.1,35961.9,4346.9,10079.4,0.0,21186.5,24000.0,1.42,1943000.0,AR,301000.0,1368000.0,2009,57
24,NaN,South,Arkansas,NaN,NaN,NaN,NaN,NaN,NaN,24000.0,1.85,3064000.0,AR,99000.0,1656000.0,2016,69
25,NaN,South,Arkansas,748.0,12427.3,1070.4,5235.9,0.0,5373.0,24000.0,2.06,3560000.0,AR,121000.0,1728000.0,2015,72
26,NaN,South,Arkansas,902.7,34965.5,3544.8,9049.8,0.0,21468.2,25000.0,1.47,2205000.0,AR,360000.0,1500000.0,2010,60
27,NaN,South,Arkansas,59.7,51226.5,4939.2,12508.7,0.0,33718.9,25000.0,1.98,3119000.0,AR,189000.0,1575000.0,2012,63
28,NaN,South,Arkansas,995.7,37361.2,2168.9,9093.8,0.0,25102.8,28000.0,1.35,2835000.0,AR,525000.0,2100000.0,2008,75
29,NaN,South,Arkansas,1277.4,31712.8,209.8,12750.1,0.0,17475.5,28000.0,0.95,2128000.0,AR,672000.0,2240000.0,2007,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1927,54.0,South,West Virginia,251.5,609.3,54.5,130.1,153.8,19.4,8000.0,1.29,526000.0,WV,102000.0,408000.0,2005,51
1928,54.0,South,West Virginia,0.0,82.3,0.0,81.9,0.0,0.4,9000.0,1.32,606000.0,WV,151000.0,459000.0,2002,51
1929,54.0,South,West Virginia,30.7,412.5,144.9,208.8,0.0,28.1,9000.0,1.41,698000.0,WV,183000.0,495000.0,2004,55
1930,56.0,West,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,34000.0,0.53,991000.0,WY,393000.0,1870000.0,1993,55
1931,56.0,West,Wyoming,0.0,0.0,0.0,0.0,0.0,0.0,38000.0,0.73,999000.0,WY,150000.0,1368000.0,1995,36
1932,56.0,West,Wyoming,0.0,52.3,0.0,52.3,0.0,0.0,38000.0,0.75,1767000.0,WY,660000.0,2356000.0,1997,62
1933,56.0,West,Wyoming,0.0,0.0,0.0,0.0,0.0,0.0,40000.0,0.90,2628000.0,WY,526000.0,2920000.0,1996,73
1934,56.0,West,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,41000.0,0.55,1173000.0,WY,192000.0,2132000.0,1991,52
1935,56.0,West,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,41000.0,0.54,1550000.0,WY,287000.0,2870000.0,1992,70
1936,56.0,West,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,46000.0,0.58,1841000.0,WY,667000.0,3174000.0,1994,69
1937,56.0,West,Wyoming,0.0,1548.1,756.3,128.1,0.0,663.7,34000.0,1.59,1946000.0,WY,282000.0,1224000.0,2010,36
1938,56.0,West,Wyoming,0.0,1192.5,802.7,118.2,0.0,271.6,35000.0,1.72,3251000.0,WY,265000.0,1890000.0,2011,54
1939,56.0,West,Wyoming,0.0,1508.1,901.3,137.1,0.0,469.7,37000.0,1.43,2540000.0,WY,391000.0,1776000.0,2009,48
1940,56.0,West,Wyoming,0.0,23.2,0.0,23.2,0.0,0.0,37000.0,0.61,1625000.0,WY,746000.0,2664000.0,1999,72
1941,56.0,West,Wyoming,0.0,2086.3,1262.0,258.2,0.0,566.1,38000.0,2.08,4821000.0,WY,255000.0,2318000.0,2014,61
1942,56.0,West,Wyoming,0.0,67.4,0.0,45.4,0.0,22.0,38000.0,1.33,3184000.0,WY,383000.0,2394000.0,2002,63
1943,56.0,West,Wyoming,0.0,133.4,0.0,114.4,0.0,19.0,38000.0,1.90,5559000.0,WY,146000.0,2926000.0,2015,77
1944,56.0,West,Wyoming,0.0,193.1,0.0,188.8,0.0,4.3,38000.0,0.65,1902000.0,WY,468000.0,2926000.0,2001,77
1945,56.0,West,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,39000.0,1.59,3287000.0,WY,186000.0,2067000.0,2017,53
1946,56.0,West,Wyoming,0.0,1294.0,391.7,43.1,0.0,859.2,39000.0,1.37,3259000.0,WY,381000.0,2379000.0,2008,61
1947,56.0,West,Wyoming,0.0,425.1,217.8,132.1,0.0,75.2,39000.0,1.10,3218000.0,WY,380000.0,2925000.0,2004,75
1948,56.0,West,Wyoming,0.0,54.1,0.0,19.0,0.0,35.1,39000.0,1.41,4454000.0,WY,474000.0,3159000.0,2003,81
1949,56.0,West,Wyoming,0.0,333.7,218.1,31.9,0.0,83.7,39000.0,0.98,3249000.0,WY,497000.0,3315000.0,2006,85
1950,56.0,West,Wyoming,0.0,44.5,0.0,44.5,0.0,0.0,39000.0,0.59,2140000.0,WY,798000.0,3627000.0,2000,93
1951,56.0,West,Wyoming,0.0,386.9,182.7,98.5,0.0,105.7,40000.0,0.89,1994000.0,WY,291000.0,2240000.0,2005,56
1952,56.0,West,Wyoming,0.0,36.9,0.0,27.5,0.0,9.4,40000.0,1.78,4842000.0,WY,190000.0,2720000.0,2016,68
1953,56.0,West,Wyoming,0.0,396.8,122.2,198.3,0.0,76.3,43000.0,1.00,3440000.0,WY,894000.0,3440000.0,2007,80
1954,56.0,West,Wyoming,0.0,91.2,0.0,91.2,0.0,0.0,46000.0,0.68,1877000.0,WY,524000.0,2760000.0,1998,60
1955,56.0,West,Wyoming,0.0,1523.0,840.9,155.9,0.0,526.2,47000.0,2.11,6545000.0,WY,558000.0,3102000.0,2013,66
1956,56.0,West,Wyoming,0.0,1875.2,1174.9,277.0,0.0,423.3,50000.0,1.87,4769000.0,WY,459000.0,2550000.0,2012,51

In [72]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1957 entries, 0 to 1956
Data columns (total 17 columns):
FIPS             1132 non-null float64
Region           1957 non-null object
StateName        1957 non-null object
nACETAMIPRID     1656 non-null float64
nAllNeonic       1656 non-null float64
nCLOTHIANIDIN    1656 non-null float64
nIMIDACLOPRID    1656 non-null float64
nTHIACLOPRID     1656 non-null float64
nTHIAMETHOXAM    1656 non-null float64
numcol           1957 non-null float64
priceperlb       1957 non-null float64
prodvalue        1957 non-null float64
state            1957 non-null object
stocks           1957 non-null float64
totalprod        1957 non-null float64
year             1957 non-null int64
yieldpercol      1957 non-null int64
dtypes: float64(12), int64(2), object(3)
memory usage: 260.0+ KB

### Define
Correct the measurement unit inconsistency by converting kg units into lbs.
- 1 pound = 0.45359237 kg
- 1 kg = 2.20462262 pounds
- kg variables : nCLOTHIANIDIN, nIMIDACLOPRID, nTHIAMETHOXAM, nACETAMIPRID, nTHIACLOPRID

### Code

In [73]:
# Create a lbl to kg converter
def kg_to_lbs(kg_variable):
    return kg_variable * 0.45359237

In [74]:
# collect kg variable column names
kg_column_names = ['nCLOTHIANIDIN', 'nIMIDACLOPRID', 'nTHIAMETHOXAM', 'nACETAMIPRID', 'nTHIACLOPRID']

In [75]:
# apply the converter function on the dataframe
for i in range(len(kg_column_names)):
    column = kg_column_names[i]
    df_clean[column] = df_clean[column].apply(lambda x: kg_to_lbs(x))

In [76]:
# sum again the nCLOTHIANIDIN, nIMIDACLOPRID, nTHIAMETHOXAM, nACETAMIPRID, nTHIACLOPRID values in the nAllNeonic column
df_clean["nAllNeonic"] = df_clean[kg_column_names].sum(axis = 1)

### Test

In [77]:
df_clean.head()

,FIPS,Region,StateName,nACETAMIPRID,nAllNeonic,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIACLOPRID,nTHIAMETHOXAM,numcol,priceperlb,prodvalue,state,stocks,totalprod,year,yieldpercol
0,NaN,South,Alabama,0.0,6851.013797,3490.937598,1477.849301,0.0,1882.226899,11000.0,1.49,918000.0,AL,209000.0,616000.0,2007,56
1,NaN,South,Alabama,0.0,4663.746030,308.442812,1918.786444,0.0,2436.516775,11000.0,1.21,958000.0,AL,230000.0,792000.0,2006,72
2,NaN,South,Alabama,0.0,915.893714,0.000000,534.694686,0.0,381.199028,12000.0,1.18,1218000.0,AL,103000.0,1032000.0,2002,86
3,NaN,South,Alabama,0.0,3567.141116,1213.994619,600.510939,0.0,1752.635558,12000.0,1.41,1472000.0,AL,282000.0,1044000.0,2004,87
4,NaN,South,Alabama,0.0,3625.110221,682.021488,451.097612,0.0,2491.991122,13000.0,1.02,875000.0,AL,266000.0,858000.0,2005,66

There is a little bit dirrefence in the sum because of the floating point types.

### Define
Change erronous float data types to integer (numcol, totalprod, stocks, prodvalue)

### Code

In [78]:
#convert float column to integer
df_clean['numcol'] = df_clean['numcol'].astype(np.int64)
df_clean['totalprod'] = df_clean['totalprod'].astype(np.int64)
df_clean['stocks'] = df_clean['stocks'].astype(np.int64)
df_clean['prodvalue'] = df_clean['prodvalue'].astype(np.int64)

### Test

In [79]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1957 entries, 0 to 1956
Data columns (total 17 columns):
FIPS             1132 non-null float64
Region           1957 non-null object
StateName        1957 non-null object
nACETAMIPRID     1656 non-null float64
nAllNeonic       1957 non-null float64
nCLOTHIANIDIN    1656 non-null float64
nIMIDACLOPRID    1656 non-null float64
nTHIACLOPRID     1656 non-null float64
nTHIAMETHOXAM    1656 non-null float64
numcol           1957 non-null int64
priceperlb       1957 non-null float64
prodvalue        1957 non-null int64
state            1957 non-null object
stocks           1957 non-null int64
totalprod        1957 non-null int64
year             1957 non-null int64
yieldpercol      1957 non-null int64
dtypes: float64(8), int64(6), object(3)
memory usage: 260.0+ KB

Define Definition
Change non descriptive column header names (numcol, yieldpercol, totalprod, prodvalue, nCLOTHIANIDIN, ... , nAllNeonic)
- numcol to NumberOfColonies
- yieldpercol to HoneyYieldPerColonyLbs
- totalprod to TotalProductionLbs
- prodvalue to ProductionValueDollars
- nACETAMIPRID to AcetamipridPerLbs
- nCLOTHIANIDIN to ClothianidinPerLbs
- nIMIDACLOPRID to ImidaclopridPerLbs
- nTHIACLOPRID to ThiaclopridPerLbs
- nTHIAMETHOXAM to TiametoxamPerLbs
- nAllNeonic to AllNeonicsPerLbs

### Code

In [80]:
df_clean.rename(columns =
                {
                    'numcol' : 'NumberOfColonies',
                    'yieldpercol' : 'HoneyYieldPerColonyLbs',
                    'totalprod' : 'TotalProductionLbs',
                    'prodvalue' : 'ProductionValueDollars',
                    'nACETAMIPRID' : 'AcetamipridPerLbs',
                    'nCLOTHIANIDIN' : 'ClothianidinPerLbs',
                    'nIMIDACLOPRID' : 'ImidaclopridPerLbs',
                    'nTHIACLOPRID' : 'ThiaclopridPerLbs',
                    'nTHIAMETHOXAM' : 'TiametoxamPerLbs',
                    'nAllNeonic' : 'AllNeonicsPerLbs',
                }, inplace = True)

### Test

In [81]:
df_clean.head()

,FIPS,Region,StateName,AcetamipridPerLbs,AllNeonicsPerLbs,ClothianidinPerLbs,ImidaclopridPerLbs,ThiaclopridPerLbs,TiametoxamPerLbs,NumberOfColonies,priceperlb,ProductionValueDollars,state,stocks,TotalProductionLbs,year,HoneyYieldPerColonyLbs
0,NaN,South,Alabama,0.0,6851.013797,3490.937598,1477.849301,0.0,1882.226899,11000,1.49,918000,AL,209000,616000,2007,56
1,NaN,South,Alabama,0.0,4663.746030,308.442812,1918.786444,0.0,2436.516775,11000,1.21,958000,AL,230000,792000,2006,72
2,NaN,South,Alabama,0.0,915.893714,0.000000,534.694686,0.0,381.199028,12000,1.18,1218000,AL,103000,1032000,2002,86
3,NaN,South,Alabama,0.0,3567.141116,1213.994619,600.510939,0.0,1752.635558,12000,1.41,1472000,AL,282000,1044000,2004,87
4,NaN,South,Alabama,0.0,3625.110221,682.021488,451.097612,0.0,2491.991122,13000,1.02,875000,AL,266000,858000,2005,66

### Define
Change column names into camel case words
- FIPS should remain the same, because it is an acronym

### Code

In [82]:
df_clean.rename(columns =
                {
                    'priceperlb' : 'PricePerLbs',
                    'state' : 'State',
                    'stocks' : 'Stock',
                    'year' : 'Year'
                }, inplace = True)

### Test

In [83]:
df_clean.head()

,FIPS,Region,StateName,AcetamipridPerLbs,AllNeonicsPerLbs,ClothianidinPerLbs,ImidaclopridPerLbs,ThiaclopridPerLbs,TiametoxamPerLbs,NumberOfColonies,PricePerLbs,ProductionValueDollars,State,Stock,TotalProductionLbs,Year,HoneyYieldPerColonyLbs
0,NaN,South,Alabama,0.0,6851.013797,3490.937598,1477.849301,0.0,1882.226899,11000,1.49,918000,AL,209000,616000,2007,56
1,NaN,South,Alabama,0.0,4663.746030,308.442812,1918.786444,0.0,2436.516775,11000,1.21,958000,AL,230000,792000,2006,72
2,NaN,South,Alabama,0.0,915.893714,0.000000,534.694686,0.0,381.199028,12000,1.18,1218000,AL,103000,1032000,2002,86
3,NaN,South,Alabama,0.0,3567.141116,1213.994619,600.510939,0.0,1752.635558,12000,1.41,1472000,AL,282000,1044000,2004,87
4,NaN,South,Alabama,0.0,3625.110221,682.021488,451.097612,0.0,2491.991122,13000,1.02,875000,AL,266000,858000,2005,66

### Define
Add an Id column to Identify the rows

### Code

In [84]:
df_clean['Id'] = df_clean.index + 1

### Test

In [85]:
df_clean.head()

,FIPS,Region,StateName,AcetamipridPerLbs,AllNeonicsPerLbs,ClothianidinPerLbs,ImidaclopridPerLbs,ThiaclopridPerLbs,TiametoxamPerLbs,NumberOfColonies,PricePerLbs,ProductionValueDollars,State,Stock,TotalProductionLbs,Year,HoneyYieldPerColonyLbs,Id
0,NaN,South,Alabama,0.0,6851.013797,3490.937598,1477.849301,0.0,1882.226899,11000,1.49,918000,AL,209000,616000,2007,56,1
1,NaN,South,Alabama,0.0,4663.746030,308.442812,1918.786444,0.0,2436.516775,11000,1.21,958000,AL,230000,792000,2006,72,2
2,NaN,South,Alabama,0.0,915.893714,0.000000,534.694686,0.0,381.199028,12000,1.18,1218000,AL,103000,1032000,2002,86,3
3,NaN,South,Alabama,0.0,3567.141116,1213.994619,600.510939,0.0,1752.635558,12000,1.41,1472000,AL,282000,1044000,2004,87,4
4,NaN,South,Alabama,0.0,3625.110221,682.021488,451.097612,0.0,2491.991122,13000,1.02,875000,AL,266000,858000,2005,66,5

### Define
ID should be the first row

### Code

In [86]:
# Gather column names
columns = df_clean.columns.tolist()

# Replace the last member to be the first
ordered_columns = columns[-1:] + columns[:-1]

In [87]:
# apply the new column order to the dataframe
df_clean = df_clean[ordered_columns]

### Test

In [88]:
df_clean.head()

,Id,FIPS,Region,StateName,AcetamipridPerLbs,AllNeonicsPerLbs,ClothianidinPerLbs,ImidaclopridPerLbs,ThiaclopridPerLbs,TiametoxamPerLbs,NumberOfColonies,PricePerLbs,ProductionValueDollars,State,Stock,TotalProductionLbs,Year,HoneyYieldPerColonyLbs
0,1,NaN,South,Alabama,0.0,6851.013797,3490.937598,1477.849301,0.0,1882.226899,11000,1.49,918000,AL,209000,616000,2007,56
1,2,NaN,South,Alabama,0.0,4663.746030,308.442812,1918.786444,0.0,2436.516775,11000,1.21,958000,AL,230000,792000,2006,72
2,3,NaN,South,Alabama,0.0,915.893714,0.000000,534.694686,0.0,381.199028,12000,1.18,1218000,AL,103000,1032000,2002,86
3,4,NaN,South,Alabama,0.0,3567.141116,1213.994619,600.510939,0.0,1752.635558,12000,1.41,1472000,AL,282000,1044000,2004,87
4,5,NaN,South,Alabama,0.0,3625.110221,682.021488,451.097612,0.0,2491.991122,13000,1.02,875000,AL,266000,858000,2005,66

In [89]:
df_clean

,Id,FIPS,Region,StateName,AcetamipridPerLbs,AllNeonicsPerLbs,ClothianidinPerLbs,ImidaclopridPerLbs,ThiaclopridPerLbs,TiametoxamPerLbs,NumberOfColonies,PricePerLbs,ProductionValueDollars,State,Stock,TotalProductionLbs,Year,HoneyYieldPerColonyLbs
0,1,NaN,South,Alabama,0.000000,6851.013797,3490.937598,1477.849301,0.000000,1882.226899,11000,1.49,918000,AL,209000,616000,2007,56
1,2,NaN,South,Alabama,0.000000,4663.746030,308.442812,1918.786444,0.000000,2436.516775,11000,1.21,958000,AL,230000,792000,2006,72
2,3,NaN,South,Alabama,0.000000,915.893714,0.000000,534.694686,0.000000,381.199028,12000,1.18,1218000,AL,103000,1032000,2002,86
3,4,NaN,South,Alabama,0.000000,3567.141116,1213.994619,600.510939,0.000000,1752.635558,12000,1.41,1472000,AL,282000,1044000,2004,87
4,5,NaN,South,Alabama,0.000000,3625.110221,682.021488,451.097612,0.000000,2491.991122,13000,1.02,875000,AL,266000,858000,2005,66
5,6,NaN,South,Alabama,0.000000,571.526386,0.000000,303.135781,0.000000,268.390605,13000,1.24,1322000,AL,43000,1066000,2003,82
6,7,NaN,South,Alabama,0.000000,676.215505,0.000000,676.215505,0.000000,0.000000,14000,0.72,736000,AL,235000,1022000,2001,73
7,8,NaN,South,Alabama,0.000000,832.931669,0.000000,832.931669,0.000000,0.000000,16000,0.72,818000,AL,159000,1136000,1998,71
8,9,NaN,South,Alabama,0.000000,680.025681,0.000000,680.025681,0.000000,0.000000,16000,0.59,736000,AL,187000,1248000,2000,78
9,10,NaN,South,Alabama,0.000000,567.534773,0.000000,567.534773,0.000000,0.000000,17000,0.56,647000,AL,185000,1156000,1999,68
10,11,NaN,South,Alabama,NaN,0.000000,NaN,NaN,NaN,NaN,7000,2.77,873000,AL,22000,315000,2017,45
11,12,NaN,South,Alabama,0.000000,5478.080412,25.491891,4952.911166,0.000000,499.677355,7000,3.83,1260000,AL,13000,329000,2015,47
12,13,NaN,South,Alabama,NaN,0.000000,NaN,NaN,NaN,NaN,7000,3.45,1256000,AL,33000,364000,2016,52
13,14,NaN,South,Alabama,0.000000,8835.661853,2718.333714,3757.740630,0.000000,2359.587509,7000,2.85,1037000,AL,55000,364000,2013,52
14,15,NaN,South,Alabama,0.000000,11299.484888,3615.856937,5531.150719,0.000000,2152.477233,7000,3.53,1310000,AL,26000,371000,2014,53
15,16,NaN,South,Alabama,0.000000,8187.115482,2176.245473,2834.544079,0.000000,3176.325930,8000,2.47,1067000,AL,65000,432000,2012,54
16,17,NaN,South,Alabama,0.000000,10198.570847,4584.049850,2372.197377,0.000000,3242.323620,9000,2.51,1130000,AL,63000,450000,2011,50
17,18,NaN,South,Alabama,0.000000,5967.143705,2307.515105,1810.695382,0.000000,1848.933219,9000,1.86,837000,AL,68000,450000,2009,50
18,19,NaN,South,Alabama,0.000000,3778.106927,868.175796,796.961794,0.000000,2112.969337,9000,2.40,1166000,AL,73000,486000,2010,54
19,20,NaN,South,Alabama,0.000000,4131.954335,724.976685,1495.312607,0.000000,1911.665043,9000,1.90,1129000,AL,214000,594000,2008,66
20,21,NaN,South,Arkansas,313.931279,25749.032709,6895.783364,7741.415620,0.000000,10797.902446,21000,2.04,2785000,AR,137000,1365000,2014,65
21,22,NaN,South,Arkansas,0.000000,26544.724444,7864.520589,7851.230332,0.000000,10828.973523,22000,2.02,2666000,AR,66000,1320000,2013,60
22,23,NaN,South,Arkansas,1303.760549,26050.626275,2673.654866,6877.412873,0.000000,15195.797987,22000,1.62,2281000,AR,239000,1408000,2011,64
23,24,NaN,South,Arkansas,158.349096,16312.043451,1971.720673,4571.938934,0.000000,9610.034747,24000,1.42,1943000,AR,301000,1368000,2009,57
24,25,NaN,South,Arkansas,NaN,0.000000,NaN,NaN,NaN,NaN,24000,1.85,3064000,AR,99000,1656000,2016,69
25,26,NaN,South,Arkansas,339.287093,5636.928460,485.525273,2374.964290,0.000000,2437.151804,24000,2.06,3560000,AR,121000,1728000,2015,72
26,27,NaN,South,Arkansas,409.457832,15860.084013,1607.894233,4104.920230,0.000000,9737.811718,25000,1.47,2205000,AR,360000,1500000,2010,60
27,28,NaN,South,Arkansas,27.079464,23235.949542,2240.383434,5673.850879,0.000000,15294.635765,25000,1.98,3119000,AR,189000,1575000,2012,63
28,29,NaN,South,Arkansas,451.641923,16946.755254,983.796491,4124.878294,0.000000,11386.438546,28000,1.35,2835000,AR,525000,2100000,2008,75
29,30,NaN,South,Arkansas,579.418893,14384.684111,95.163679,5783.348077,0.000000,7926.753462,28000,0.95,2128000,AR,672000,2240000,2007,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1927,1928,54.0,South,West Virginia,114.078481,276.373831,24.720784,59.012367,69.762507,8.799692,8000,1.29,526000,WV,102000,408000,2005,51
1928,1929,54.0,South,West Virginia,0.000000,37.330652,0.000000,37.149215,0.000000,0.181437,9000,1.32,606000,WV,151000,459000,2002,51
1929,1930,54.0,South,West Virginia,13.925286,187.106853,65.725534,94.710087,0.000000,12.745946,9000,1.41,698000,WV,183000,495000,2004,55
1930,1931,56.0,West,Wyoming,NaN,0.000000,NaN,NaN,NaN,NaN,34000,0.53,991000,WY,393000,1870000,1993,55
1931,1932,56.0,West,Wyoming,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,38000,0.73,999000,WY,150000,1368000,1995,36
1932,1933,56.0,West,Wyoming,0.000000,23.722881,0.000000,23.722881,0.000000,0.000000,38000,0.75,1767000,WY,660000,2356000,1997,62
1933,1934,56.0,West,Wyoming,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,40000,0.90,2628000,WY,526000,2920000,1996,73
1934,1935,56.0,West,Wyoming,NaN,0.000000,NaN,NaN,NaN,NaN,41000,0.55,1173000,WY,192000,2132000,1991,52
1935,1936,56.0,West,Wyoming,NaN,0.000000,NaN,NaN,NaN,NaN,41000,0.54,1550000,WY,287000,2870000,1992,70
1936,1937,56.0,West,Wyoming,NaN,0.000000,NaN,NaN,NaN,NaN,46000,0.58,1841000,WY,667000,3174000,1994,69
1937,1938,56.0,West,Wyoming,0.000000,702.206348,343.051909,58.105183,0.000000,301.049256,34000,1.59,1946000,WY,282000,1224000,2010,36
1938,1939,56.0,West,Wyoming,0.000000,540.908901,364.098595,53.614618,0.000000,123.195688,35000,1.72,3251000,WY,265000,1890000,2011,54
1939,1940,56.0,West,Wyoming,0.000000,684.062653,408.822803,62.187514,0.000000,213.052336,37000,1.43,2540000,WY,391000,1776000,2009,48
1940,1941,56.0,West,Wyoming,0.000000,10.523343,0.000000,10.523343,0.000000,0.000000,37000,0.61,1625000,WY,746000,2664000,1999,72
1941,1942,56.0,West,Wyoming,0.000000,946.329762,572.433571,117.117550,0.000000,256.778641,38000,2.08,4821000,WY,255000,2318000,2014,61
1942,1943,56.0,West,Wyoming,0.000000,30.572126,0.000000,20.593094,0.000000,9.979032,38000,1.33,3184000,WY,383000,2394000,2002,63
1943,1944,56.0,West,Wyoming,0.000000,60.509222,0.000000,51.890967,0.000000,8.618255,38000,1.90,5559000,WY,146000,2926000,2015,77
1944,1945,56.0,West,Wyoming,0.000000,87.588687,0.000000,85.638239,0.000000,1.950447,38000,0.65,1902000,WY,468000,2926000,2001,77
1945,1946,56.0,West,Wyoming,NaN,0.000000,NaN,NaN,NaN,NaN,39000,1.59,3287000,WY,186000,2067000,2017,53
1946,1947,56.0,West,Wyoming,0.000000,586.948527,177.672131,19.549831,0.000000,389.726564,39000,1.37,3259000,WY,381000,2379000,2008,61
1947,1948,56.0,West,Wyoming,0.000000,192.822116,98.792418,59.919552,0.000000,34.110146,39000,1.10,3218000,WY,380000,2925000,2004,75
1948,1949,56.0,West,Wyoming,0.000000,24.539347,0.000000,8.618255,0.000000,15.921092,39000,1.41,4454000,WY,474000,3159000,2003,81
1949,1950,56.0,West,Wyoming,0.000000,151.363774,98.928496,14.469597,0.000000,37.965681,39000,0.98,3249000,WY,497000,3315000,2006,85
1950,1951,56.0,West,Wyoming,0.000000,20.184860,0.000000,20.184860,0.000000,0.000000,39000,0.59,2140000,WY,798000,3627000,2000,93
1951,1952,56.0,West,Wyoming,0.000000,175.494888,82.871326,44.678848,0.000000,47.944714,40000,0.89,1994000,WY,291000,2240000,2005,56
1952,1953,56.0,West,Wyoming,0.000000,16.737558,0.000000,12.473790,0.000000,4.263768,40000,1.78,4842000,WY,190000,2720000,2016,68
1953,1954,56.0,West,Wyoming,0.000000,179.985452,55.428988,89.947367,0.000000,34.609098,43000,1.00,3440000,WY,894000,3440000,2007,80
1954,1955,56.0,West,Wyoming,0.000000,41.367624,0.000000,41.367624,0.000000,0.000000,46000,0.68,1877000,WY,524000,2760000,1998,60
1955,1956,56.0,West,Wyoming,0.000000,690.821180,381.425824,70.715050,0.000000,238.680305,47000,2.11,6545000,WY,558000,3102000,2013,66
1956,1957,56.0,West,Wyoming,0.000000,850.576412,532.925676,125.645086,0.000000,192.005650,50000,1.87,4769000,WY,459000,2550000,2012,51

# Store

Save the clean dataframe as a CSV file

In [ ]:
# CSV file name
clean_csv = "HoneyNeonic.csv"

In [ ]:
df_clean.to_csv(clean_csv)

# Source

Dataset source : www.kaggle.com